<a href="https://colab.research.google.com/github/T1M0THY1337/big-data-prediction-challenge/blob/master/prediction_challenge_solution_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction Challange by Sebastian and Tim

Your job is to predict whether or not a person will become a customer of a bank. The data itself contains basic demographic information about numerous  customers as well as data related to phone-based marketing calls during specific campaigns.

# Header

## Version 0.1


---


**2020-01-29** Feature Engineering (Date), Hyperparameter Tuning\
**2020-01-24** Start mit dem Minimum Working Example

## Data Dictionary

<table style="width: 100%;">
    <thead>
        <tr>
            <th style="width: 30%; text-align: left;">Feature</th>
            <th style="width: 70%; text-align: left;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>date</td>
            <td>The last contact date</td>
        </tr>
        <tr>
            <td>age</td>
            <td>The age of the customer</td>
        </tr>
        <tr>
            <td>marital_status</td>
            <td>The marital status of the customer</td>
        </tr>
        <tr>
            <td>education</td>
            <td>The educationan of the customer</td>
        </tr>
        <tr>
            <td>job</td>
            <td>The type of job of the customer</td>
        </tr>
        <tr>
            <td>credit_default</td>
            <td>Whether or not the customer has a credit in default</td>
        </tr>
        <tr>
            <td>housing_loan</td>
            <td>Whether or not the customer has a housing loan</td>
        </tr>
        <tr>
            <td>personal_loan</td>
            <td>Whether or not the customer has a personal loan</td>
        </tr>
        <tr>
            <td>communication_type</td>
            <td>The type of contact communication</td>
        </tr>
        <tr>
            <td>n_contacts_campaign</td>
            <td>The number of contacts performed during this marketing campaign and for this customer</td>
        </tr>
        <tr>
            <td>days_since_last_contact</td>
            <td>The number of days passed by after the customer was last contacted from a previous domain</td>
        </tr>
        <tr>
            <td>n_contacts_before</td>
            <td>The number of contacts performed before this marketing campaign and for this customer</td>
        </tr>
        <tr>
            <td>previous_conversion</td>
            <td>Whether or not the customer has been a customer before</td>
        </tr>
        <tr>
            <td>success</td>
            <td>Whether or not the customer became an actual customer (target variable)</td>
        </tr>
    </tbody>   
</table>

# Programming

## Package Import

In [0]:
import numpy as np
import pandas as pd
import xgboost as xgb
import sys as sys
import csv, datetime
from datetime import datetime
from scipy.stats import uniform, randint
from sklearn.compose import ColumnTransformer
from sklearn.metrics import f1_score, make_scorer
from sklearn.model_selection import RandomizedSearchCV, cross_validate, StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder

## Data Import

In [0]:
dataset = pd.read_csv(
    'https://raw.githubusercontent.com/saschaschworm/big-data-and-data-science/' +
    'master/datasets/prediction-challenge/dataset.csv', 
    index_col='identifier', parse_dates=['date'])

prediction_dataset = pd.read_csv(
    'https://raw.githubusercontent.com/saschaschworm/big-data-and-data-science/' +
    'master/datasets/prediction-challenge/prediction-dataset.csv', 
    index_col='identifier', parse_dates=['date'])

## Feature Engineering

In [0]:
# Create some new features based on the given features
# or enrich the dataset with features from datasets.
# dataset.head(3)

In [0]:
# ataset.apply?

In [0]:
def getYear(inDate):
  return inDate.year
def getMonth(inDate):
  return inDate.month
def getWeekday(inDate):
  return inDate.weekday
def getWeekendDay(inDate):
  if (inDate.weekday == 'Saturday') or (inDate.weekday == 'Sunday'):
    return True
  else:
    return False
def getAgeGroups(inAge):
  if (inAge < 28):
    return 'young'
  elif (49 > inAge > 27):
    return 'younger'
  elif (61 > inAge > 48):
    return 'older'
  else:
    return 'old'

dataset['date'] = pd.to_datetime(dataset['date'])
dataset.insert(1, "dateYear", dataset['date'], allow_duplicates=True)
dataset.insert(2, "dateMonth", dataset['date'], allow_duplicates=True)
dataset.insert(3, "dateWeekday", dataset['date'], allow_duplicates=True)
dataset.insert(4, "dateWeekendDay", dataset['date'], allow_duplicates=True)

dataset.insert(6, "ageGroups", dataset['age'], allow_duplicates=True)

# dataset.dateYear = dataset.dateYear.apply(getYear)
# dataset.dateMonth = dataset.dateMonth.apply(getMonth)

dataset.dateYear = dataset['dateYear'].dt.year
dataset.dateMonth = dataset['dateMonth'].dt.month
dataset.dateWeekday = dataset['dateWeekday'].dt.weekday_name
dataset.dateWeekendDay = dataset.dateWeekendDay.apply(getWeekendDay)
dataset.ageGroups = dataset.ageGroups.apply(getAgeGroups)

In [75]:
# dataset.loc[dataset['dateWeekendDay'] == True]
dataset.head(50)

                 date  dateYear  ...  duration success
identifier                       ...
34203      2009-05-06      2009  ...       992      No
1250       2008-05-08      2008  ...       147      No
38130      2009-09-04      2009  ...       139      No
19300      2008-08-06      2008  ...       127      No
34497      2009-05-07      2009  ...       586      No
32858      2009-05-04      2009  ...       146      No
15556      2008-07-04      2008  ...       453      No
24600      2008-11-03      2008  ...       295      No
28929      2009-05-08      2009  ...        86      No
38283      2009-09-30      2009  ...        84     Yes
38156      2009-10-01      2009  ...        86      No
7135       2008-05-08      2008  ...      1047     Yes
21743      2008-08-05      2008  ...       166      No
4558       2008-05-06      2008  ...        91      No
39209      2010-04-05      2010  ...       172     Yes
28024      2009-05-07      2009  ...        73      No
20190      2008-08-04      2008  ...       247      No
3351       2008-05-08      2008  ...       465      No
8683       2008-06-04      2008  ...       112      No
37223      2009-08-07      2009  ...        87     Yes
25182      2008-11-04      2008  ...        69      No
31618      2009-05-07      2009  ...        46      No
36821      2009-06-01      2009  ...        88      No
4132       2008-05-05      2008  ...       229      No
34712      2009-05-07      2009  ...       112      No
26678      2008-11-06      2008  ...      1166      No
1706       2008-05-09      2008  ...       164      No
9857       2008-06-04      2008  ...        98      No
19282      2008-08-06      2008  ...        88      No
9513       2008-06-02      2008  ...       157      No
16623      2008-07-02      2008  ...       361      No
12721      2008-06-30      2008  ...       136      No
27900      2009-04-09      2009  ...       141      No
17022      2008-07-03      2008  ...       393      No
32187      2009-05-08      2009  ...       851      No
2043       2008-05-05      2008  ...        94      No
13378      2008-07-02      2008  ...       206      No
12397      2008-06-30      2008  ...       181      No
27755      2009-04-09      2009  ...       115      No
38705      2009-11-03      2009  ...       182     Yes
13702      2008-07-03      2008  ...       245      No
19382      2008-08-06      2008  ...       588      No
24725      2008-11-03      2008  ...        94      No
3253       2008-05-08      2008  ...       738      No
23206      2008-08-05      2008  ...       277      No
27183      2008-11-07      2008  ...        68      No
2705       2008-05-07      2008  ...       282      No
15424      2008-07-04      2008  ...        63      No
6947       2008-05-08      2008  ...       186      No
5187       2008-05-09      2008  ...        98      No

[50 rows x 20 columns]

## Model, Pipeline and Scoring Initialization

In [0]:
# dataset[['date', 'age', 'marital_status', 'education', 'job', 'credit_default', 'housing_loan', 'personal_loan', 'communication_type', 'n_contacts_campaign', 'days_since_last_contact', 'n_contacts_before', 'previous_conversion', 'duration']]

X = dataset[['dateYear', 'dateMonth', 'dateWeekday', 'ageGroups', 'marital_status', 'education', 'job', 'credit_default', 'housing_loan', 'personal_loan', 'communication_type', 'n_contacts_campaign', 'days_since_last_contact', 'n_contacts_before', 'previous_conversion', 'duration']]
y = dataset['success']

# data_dmatrix = xgb.DMatrix(data=X,label=y)

In [0]:
# xgb.XGBClassifier?

In [0]:
# hyperparams = {
#     'loss': 'log', 'penalty': 'l2', 'alpha': 0.0001, 'max_iter': 1000, 'tol': 1e-3, 
#     'n_jobs': -1, 'random_state': 1909, 'learning_rate': 'invscaling', 'eta0': 0.01}
# classifier = SGDClassifier(**hyperparams)

x_reg_alpha = 0
x_reg_lambda = 0.007
x_rscv = 10
x_random_state = 1909
x_n_estimators_min = 100
x_n_estimators_max = 500
x_max_depth_min = 1
x_max_depth_max = 20
x_rsLearningRate = 0.0001
classifier = xgb.XGBClassifier(n_jobs=-1, random_state=x_random_state, objective='binary:logistic', reg_lambda=x_reg_lambda, reg_alpha=x_reg_alpha)

In [0]:
StratifiedKFold?

In [0]:
x_rscv = StratifiedKFold(n_splits=10, shuffle=True, random_state=x_random_state)
x_rscv = x_rscv.split(X, y)

In [0]:
scorer = make_scorer(f1_score, pos_label='Yes')

In [0]:
numeric_features = ['n_contacts_campaign', 'days_since_last_contact', 'n_contacts_before', 'duration']
numeric_transformer = Pipeline([
    ('scaler', MinMaxScaler()),
])

categorical_features = ['dateYear', 'dateMonth', 'dateWeekday', 'ageGroups', 'marital_status', 'education', 'job', 'credit_default', 'housing_loan', 'personal_loan', 'communication_type', 'previous_conversion']
categorical_transformer = Pipeline([
    ('onehotencoder', OneHotEncoder(drop='first')),
])

preprocessor = ColumnTransformer([
    ('numeric_transformer', numeric_transformer, numeric_features),
    ('categorical_transformer', categorical_transformer, categorical_features)
])

pipeline = Pipeline([
    ('preprocessor', preprocessor), 
    ('classifier', classifier)
])

In [0]:
# xgb.XGBClassifier?

In [0]:
param_distributions = {"classifier__learning_rate": [0.1, 0.01, 0.001, 0.0001],
               "classifier__gamma" : [0, 0.01, 0.1, 0.3, 0.5, 1, 1.5, 2],
               "classifier__max_depth": [2, 4, 7, 10, 50, 100],
               "classifier__colsample_bytree": [0.3, 0.6, 0.8, 1.0],
               "classifier__subsample": [0.2, 0.4, 0.5, 0.6, 0.7],
               "classifier__reg_alpha": [0, 0.5, 1],
               "classifier__reg_lambda": [0.001, 0.01, 0.1, 1, 1.5, 2, 3, 4.5],
               "classifier__min_child_weight": [1, 3, 5, 7],
               "classifier__n_estimators": [100, 250, 500, 1000]}

In [0]:
RandomizedSearchCV?

In [0]:
search = RandomizedSearchCV(
    pipeline, param_distributions=param_distributions, n_iter=3, scoring=scorer, 
    n_jobs=-1, cv=x_rscv, random_state=x_random_state, return_train_score=True)

In [0]:
search = search.fit(X, y)
# classifier.fit(X, y)

In [88]:
f'Optimal parameters: {search.best_params_}'

"Optimal parameters: {'classifier__subsample': 0.4, 'classifier__reg_lambda': 1, 'classifier__reg_alpha': 1, 'classifier__n_estimators': 250, 'classifier__min_child_weight': 3, 'classifier__max_depth': 50, 'classifier__learning_rate': 0.001, 'classifier__gamma': 1, 'classifier__colsample_bytree': 1.0}"

## Evaluation

In [0]:
training_score = search.cv_results_['mean_train_score'][search.best_index_] * 100
test_score = search.cv_results_['mean_test_score'][search.best_index_] * 100

In [90]:
f'Mean F1 Score (Training/Test): {training_score:.2f}%/{test_score:.2f}%'

'Mean F1 Score (Training/Test): 62.75%/57.73%'

### Optional (k-Cross Validation Gegencheck)

In [0]:
model = xgb.XGBClassifier(n_estimators=search.best_params_['classifier__n_estimators'], 
                          max_depth=search.best_params_['classifier__max_depth'],
                          learning_rate=search.best_params_['classifier__learning_rate'],
                          random_state=x_random_state,
                          n_jobs=-1,
                          reg_alpha=0.0001)

pipeline2 = Pipeline([
    ('preprocessor', preprocessor), 
    ('model', model),
])

# pipeline2 = pipeline2.fit(X, y)
# res_cv = cross_validate(pipeline2, X, y, scoring=scorer, cv=10, return_train_score=True)
# res_f1_tr = np.mean(res_cv['train_score']) * 100
# res_f1_te = np.mean(res_cv['test_score']) * 100
# print(f'Average F1 on Training and Test Sets: {res_f1_tr:.2f}/{res_f1_te:.2f}')

## Log Datei fttern

In [0]:
# datetime;alpha;lambda;random_state;n_estimators_min;n_estimators_max;max_depth_min;x_max_depth_max;best_n_estimators;best_max_depth;best_learning_rate;f1_training;f1_test;std_train_score;std_test_score

logData = [[datetime.now()
           ,x_reg_alpha
           ,x_reg_lambda
           ,x_random_state
           ,x_n_estimators_min
           ,x_n_estimators_max
           ,x_max_depth_min
           ,x_max_depth_max
           ,x_rsLearningRate
           ,search.best_params_['classifier__n_estimators']
           ,search.best_params_['classifier__max_depth']
           ,search.best_params_['classifier__learning_rate']
           ,training_score
           ,test_score
           ,search.cv_results_['std_train_score'][search.best_index_]
           ,search.cv_results_['std_test_score'][search.best_index_]]]
with open('log.csv', 'a') as csvfile:
    writer = csv.writer(csvfile, delimiter=';')
    writer.writerows(logData)

## Prediction

In [93]:
sys.exit()
predictions = search.best_estimator_.predict(prediction_dataset)

SystemExit: ignored

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

## Submission Dataset Preparation

Your upload to the Online-Campus should contain your written report (the actual seminar paper), this notebook as file as well as the generated submission dataset with your predictions.

In [0]:
submission = pd.DataFrame(
    predictions, index=prediction_dataset.index, columns=['prediction'])

In [0]:
matriculation_number = '12345678'

In [0]:
submission.to_csv(
    f'./submission-{matriculation_number}.csv', index_label='identifier')

# Ntzliche Links
* XGboost Implementation: [https://www.datacamp.com/community/tutorials/xgboost-in-python](https://www.datacamp.com/community/tutorials/xgboost-in-python)
* XGBoost Parameter List: [https://xgboost.readthedocs.io/en/latest/parameter.html](https://xgboost.readthedocs.io/en/latest/parameter.html)
* XGBoost Tuning Parameters: [https://kehuiyao.github.io/2019/03/21/xgboost-tuning-parameters/](https://kehuiyao.github.io/2019/03/21/xgboost-tuning-parameters/)